
.carousel-inner{
    max-height: 300px !important;
    min-width: auto;
  }

/* for demo purposes */
.card {
  margin: 10px 10px;
}

input[type='checkbox'] {
  display: none;
}

/* Flip Cards CSS */
.card-container {
  display: grid;
  perspective: 700px;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(230, 110, 5);
  color: rgb(230, 110, 5);
} 

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(230,110,5,1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  grid-area: frontAndBack;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

input[type='checkbox']:checked + .card-container .card-flip {
  transform: rotateY(180deg);
}
